@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
body{
    background-color:  #f3f3f3;
    /*font-face: "MHei","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";*/
    font-family: "Open Sans", "LiHei Pro", "微軟正黑體", Arial, Helvetica, sans-serif;
}
.menubar {
    display: none;
}
.imghovor:hover{
    opacity: 0.7;
}
.imgfull{
    width: 100%;
}
.menul1{
    list-style: none;
    float: left;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-top: -1%;
    text-align: center;
    /*min-width: 13%;*/
    min-width: 16%;
}
.ulnopadding{
    padding: 0px;
    min-width: 720px;
}
li.menul1:hover {
    background: rgb(181,202,160);
    text-decoration: none;
}
.ga-view-function span.text {
    color: white;
}
.logopic{
    width: 100%;
    /*margin-left: -12px;*/
}
.menubg{
    background: #214600;
}
/*第二個區塊*/
.block2bg{
    background: white;
    padding-bottom: 5%;
    padding-left: 3%;
}
.block2title{
    color:rgb(33,70,0);
}
.right1pic{
    margin-top: 6%;
}
.ptop{
    margin-top: 10px;
}
.block2newtitle{
    color:rgb(33,70,0);
    border-bottom: rgb(199,199,199) 2px solid;
    padding-bottom: 2%;
}
.newul{
    padding: 0px;
    border-bottom: dotted 1px #b9b9b9;
    padding-bottom: 2%;
}
.newli{
    list-style: none;
}
/*第3個區塊*/
.block3bg{
    background: #214600;
    color: white;
    padding-top: 2%;
    padding-left: 4%;
}
.facepic{
    margin-top: 3%;
}
.footerlink{
    color:white;
}
a.footerlink:hover {
    color: #777777;
    text-decoration: none;
}

/****************************index RWD***************************/
@media screen and (min-width:480px) and (max-width: 1000px) {
    .menubg {
        background: #214600;
        display: table;
        content: " ";
        clear: both;
    }
}
@media screen and (min-width:551px) and (max-width: 680px) {
    .menul1 {
        min-width: 10%;
    }
}
@media screen and (min-width:0px) and (max-width: 550px) {
    .menubar {
        width: 10%;
        display: block;
        margin: 1%;
    }
    .menubg {
        position: absolute;
        z-index: 99;
        line-height: 3;
        top: 6%;
        display: none;
        left: 0%;
        box-shadow: 3px 3px 3px;
        width: 32%;
    }
    .ulnopadding {
        min-width: 0px;
    }
    .menul1 {
        list-style: none;
        float: none;
        padding-bottom: 0%;
        padding-top: 2%;
        margin-top: 0%;
        text-align: center;
        min-width: 13%;
    }
}


/*******************************************Menu*********************************************************/
.menu_bg{
    background: white;
}
.big_none {
    display: none;
}
/*MENU*/
.p_list{
    padding: 2%;
}
.p_list a{
    color: #00903a;
    text-decoration: underline;
}
.p_padding{
    padding-bottom: 3%;
}
/*dinner choice at header*/
.menuchoice{
    background: #214600;
    margin-right: 5%;
}
/*dinner choice at footer*/
.menuchoice2{
    margin-right: 5%;
    margin-bottom: 6%;
}
.choice_ul{
    margin-bottom: 5%;
}
.choice_nav{
    width: 24%;
    float: left;
    text-align: center;
    display: inline;
    padding: 0.6%;
    background: #214600;
    margin-bottom: 5%;
}
.choice_nav:hover {
    background: rgb(58,94,25);
}
/*dinner choice at header*/
.menuchoice a {
    color: white;
}
/*dinner choice at footer*/
.menuchoice2 a {
    color: white;
}
/*menu choice at header*/
.foodchoice {
    display: block;
    border-right: dotted 1px #405f0e;
    width: 167px;
    float: left;
    text-align: center;
    width: 19%;
}
/*menu choice at footer*/
.foodchoice2 {
    display: block;
    border-right: dotted 1px #405f0e;
    width: 167px;
    float: left;
    text-align: center;
    width: 19%;
    margin-bottom:3%;
}
/*menu choice at header*/
.foodchoice_first{
    border-left: dotted 1px #405f0e;
}
.foodchoice a{
    color: #333333;
}
.foodchoice a:hover{
    color: #6d942e;
}
/*menu choice at footer*/
.foodchoice2 a{
    color: #333333;
}
.foodchoice2 a:hover{
    color: #6d942e;
}
.ul_nopadding{
    padding-left: 0px;
}

/*ANTIPASTO*/
.anticontainer{
    padding-left: 2.6%;
}
.no_paddingleft{
    padding-left: 0px;
}
.no_paddingleft img{
 width: 100%;
}
.no_margintop{
    margin-top: 0px;
}
.price_border{
    border-top: dotted 1px #405f0e;
    border-bottom: dotted 1px #405f0e;
}

.second_td{
    width: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: end;
}
.p_margintop{
    margin-top: 2%;
}
/*A LA CALTA*/
.p_right{
    text-align: right;
}
.ala_second_td{
    width: 1%;
    /*padding: 1%;*/
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: right;
}
/*PASTA*/
.rightpic_top{
    margin-top: 13%;
}
.pas_second_td{
    width: 1%;
    /*padding: 1%;*/
    text-align: right;
    padding-top: 1%;
    padding-bottom: 1%;

}
.pas_third_td{
    text-align: right;
 }
/*CARNE*/

.cre_first_td{
    width: 6%;
}
.p_last{
    text-align: right;
    margin-bottom: 3%;
    margin-right: 4%;
}
.margin_footer{
    margin-bottom: 5%;
}
/*line top*/
.linetop{
    border-bottom: dotted 1px #405f0e;
    margin-top: 4%;
    margin-left: 1.4%;
    margin-bottom: 3%;
    text-align: right;
    margin-right: 8%;
}
.linetop a{
    color: #333333;
    text-decoration: none;
}
.linetop a:hover{
    opacity: 0.7;
}

/*****************menu RWD*************/
@media screen and (min-width:480px) and (max-width: 1000px) {

    .linetop {
        margin-right: 2%;
    }

}

@media screen and (min-width:0px) and (max-width: 550px) {
    .container_nopaddingleft{
        padding-left: 0px;
    }
    .block2title{
        font-size: 28px;
    }

    .big_none {
        display: block;
    }
    .circle_ul {
        margin-top: -6%;
        /* text-align: -webkit-right; */
        position: fixed;
        z-index: 999;
        padding-left: 0px;
    }
    .circle_nav {
        width: 100%;
        float: none;
        display: list-item;
        line-height: 69px;
        border-radius: 50%;
        background: #214600;
        width: 65px;
        height: 65px;
        text-align: center;
        list-style: none;
        /* position: fixed; */
        z-index: 9999999;
        opacity: 0.75;
    }
    .circle_nav a{
        color: white;
    }
    .big_appear {
        display: none;
    }
    .choice_ul {
        padding-left: 0px;
        list-style: none;
    }
    .choice_nav {
        width: 100%;
        float: none;
        display: list-item;
        line-height: 300%;
    }
    .ul_nopadding {
        display: none;
    }
    .small_top{
        margin-top: 9%;
    }
    .rightpic_top {
        margin-top: 4%;
        width: 100%;
        margin-bottom: 4%;
    }
    .price_border td {
        line-height: 200%;
    }
    p{
        line-height: 200%;
    }
    .p_last {
        text-align: center;
        margin-bottom: 10%;
        margin-right: 4%;
    }
    .choice_ul {
        margin-top: 9%;
    }
    .linetop{
        display: none;
    }

}
@media screen and (min-width:0px) and (max-width: 400px) {
    .circle_ul {
        margin-left: 74%;
    }
}

@media screen and (min-width:401px) and (max-width: 450px) {
    .circle_ul {
        margin-left: 76%;
    }
}
@media screen and (min-width:451px) and (max-width: 500px) {
    .circle_ul {
        margin-left: 81%;
    }
}
@media screen and (min-width:501px) and (max-width: 550px) {
    .circle_ul {
        margin-left: 83%;
    }
}
/*********************************************** profile*******************************************************************/
.pro_block1 {
    margin-left: 8%;
}
.pro_marginright{
    margin-right: -7%;
    margin-top: 2.7%;
}
.pro_h1{
    font-weight: bold;
}
.p_pro{
    line-height: 200%;
}
/*block2*/
.pro_block2 {
    margin-left: 8%;
}
.slidecontent_move{
    padding-right: 8px;
    margin-top: 7%;
}
.pro_block2title{
    color: rgb(33,70,0);
}
.title_pro{
    font-weight: bold;
}
.gly_right{
    float: right;
}
.style_none:hover{
    text-decoration: none;
}
.panel-body-margin{
    margin-top: 2%
}
.archive_title{
    color: #668c45;
    font-weight: bold;
}
.caption{
    margin-top: 1%;
    margin-left: -1.7%;
}
/*block3*/
.pro_block3{
    margin-top: 10%;
    margin-left: 8%;
}
.pro_block3title{
    color: rgb(33,70,0);
    font-weight: bold;
    margin-top: 8%;
    margin-bottom: 6%;
}
.pro_title_bold{
    font-weight: bold;
}

/********************************************profile RWD*******************************************************/
@media screen and (min-width:750px) and (max-width: 992px) {
    .pro_block1 {
        margin-left: 0%;
    }
    .pro_marginright {
        margin-right: 0%;
        width: 50%;
        float: left;
    }
}
@media screen and (min-width:0px) and (max-width: 749px) {
    .pro_block1 {
        margin-left: -9%;
        margin-bottom: 21%;
    }
    .pro_pic{
        width: 100%;
    }
    .pro_h1 {
        text-align: center;
        margin-top: 5%;
    }
    .pro_h3{
        text-align: center;
        margin-top: 2%;
    }
    .p_pro {
        line-height: 200%;
        margin-left: 5%;
        margin-top: 2%;
    }
    .pro_block2 {
        margin-left: -6%;
    }
    .caption {
        margin-left: 0%;
    }
    /*block3*/
    .pro_block3 {
        margin-left: -10%;
    }
    /*.pro_marginright {*/
        /*margin-left: -9%;*/
    /*}*/
    .pro_block3title {
        margin-bottom: 3%;
        text-align: center;
    }
    .pro_title_bold {
        text-align: center;
    }
}
@media screen and (min-width:0px) and (max-width: 420px) {
    .pro_block2title {
        text-align: center;
        font-weight: bold;
    }
    .pro_small_hidden{
        display: none;
    }
    .pro_small_show{
        display: block;
        visibility: visible;
    }
    .slidecontent_move {
        margin-bottom: 19%;
    }
}
/************************************************CHEF'S TABLE***************************************************/
    /*left1 pic*/
    .che_block1 {
        margin-left: 8%;
    }

    .che_marginright {
         max-width: 414px;
         margin-right: -7%;
         margin-top: 2.7%;
     }

    .che_pic_p {
        float: left;
        padding: 0 3px 3px 0;
        margin-bottom: 0%;
    }

    /*right1*/
    .che_right1_h4 {
        text-align: center;
        font-weight: bold;
    }

    .che_right1_h1 {
        text-align: center;
        font-weight: bold;
        margin-bottom: 5%;
    }

    .che_right1_h3 {
        text-align: center;
        font-weight: bold;
        line-height: 140%;
    }

    .p_che {
        text-align: center;
        margin-top: 8%;
        line-height: 200%;
    }

    /*block2 left*/
    .che_block2 {
        margin-left: 8%;
        margin-top: 5%;
    }

    .che_marginleft2 {
        margin-right: 7%;
    }

    .che_left2_h2 {
        margin-top: 0%;
        text-align: center;
        font-weight: bold;
        color: rgb(33, 70, 0);
        margin-bottom: 10%;
    }

    .che_left_h5 {
        text-align: center;
        color: rgb(33, 70, 0);
        font-weight: bold;
    }

    .p_che2 {
        text-align: center;
        line-height: 200%;
        margin-bottom: 8%;
    }
    .che_left2_pic{
        max-width: 414px;
    }

    .che_color_h3 {
        color: rgb(33, 70, 0);
    }

    /*block4*/
    .che_marginleft3 {
    margin-right: 7%;
    }
    .che_left4_h3 {
        color: rgb(33, 70, 0);
        float: left;
    }

    .che_left4_titlep {
        color: rgb(33, 70, 0);
        float: left;
        margin-top: 3%;
        margin-left: 5%;
    }

    .che_left4_price {
        color: rgb(33, 70, 0);
        float: right;
        margin-top: 3%;
        margin-left: 5%;
    }

    .che_left4_p {
        margin-left: -2.5%;
    }

    .left4_title {
        margin-left: -2%;
    }

    .left4_title2_first {
        margin-top: 4%;
        margin-bottom: 1%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .left4_title2 {
        margin-top: 0%;
        margin-bottom: 1%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .che_line {
        border-bottom: dotted 1px #b9b9b9;
        margin-bottom: 1%;
        margin-top: -1%;
    }
    .che_small_show{
        display: none;
    }
 /*******************************CHEF'S TABLE  RWD*****************************************/
@media screen and (min-width:740px) and (max-width: 999px) {
    /*block1*/
    .che_block1 {
        margin-left: 0%;
    }
    .che_marginright {
        width: auto;
        display: inline-block;
        margin-right: 0px;
        max-width: 354px;
    }
    .che_rwd_right1{
        width: 46%;
        display: inline-block;
        margin-left: 0%;
        top: -57px;
     }
    .che_right1_h3 {
        text-align: left;
    }
    .p_che {
        text-align: left;
    }
    /*block2*/
    .che_marginleft2 {
        margin-right: 0%;
        width: 40%;
        display: inline-block;
    }
    .che_left2_pic{
        max-width: 402px;
        display: inline-table;
    }
    .che_block2 {
         padding-left: 0%;
    }
    /*block4*/
    .che_left4_titlep {
        margin-top: 4%;
    }
    .che_left4_p {
        margin-left: -2.5%;
        display: inline-block;
    }
    .che_left4_price {
        margin-top: 4%;
        margin-left: 0%;
    }
}
@media screen and (min-width:0px) and (max-width: 739px) {
    .che_big_show{
        display: none;
    }
    .che_small_show{
        display: block;
    }
    .small_pic_full{width: 100%}
    .che_small_pic1{  width: 41%;}
    .che_small_pic2{  width: 55%;}
    .che_small_pic3{  width: 55%;}
    .che_small_pic5{  width: 41%;}
    .che_small_pic4{  width: 41%;}
    .che_right1_h3 {
        line-height: 140%;
        font-size: 20px;
    }
    .p_che {
        margin-top: 0%;
    }
    /*block2*/
    .che_marginleft2 {
        margin-right: 0%;
        margin-left: 1%;
    }
    .che_left2_h2 {
        margin-bottom: 5%;
    }
    .p_che2 {
        margin-bottom: 4%;
    }
    .che_small_pic6{width: 55%}
    .che_small_pic7{width: 41%}
    .che_small_pic8{width: 41%}
    .che_small_pic9{width: 41%}
    .che_small_pic10{width: 55%}
}
@media screen and (min-width:560px) and (max-width: 739px) {
    .che_marginleft2 {
        margin-top: 10%;
    }
    .che_left2_pic {
        margin-left: 12%;
    }

}
@media screen and (min-width:480px) and (max-width: 739px) {
    /*block4*/
    .che_left4_titlep {
        width: 80%;
        margin-left: 0%;
        margin-top: 0%;
    }
    .che_left4_price {
        text-align: end;
        margin-top: 0%;
    }
}
@media screen and (min-width:0px) and (max-width: 599px) {
    .che_block1 {
        margin-left: 0%;
    }

    .p_che {
        padding-bottom: 7%;
        border-bottom: 1px solid #d1d4d6;
    }
    .che_block2 {
        margin-left: 0%;
    }
}
@media screen and (min-width:531px) and (max-width: 739px) {
    .che_marginright {
        max-width: 414px;
        margin-right: -7%;
        margin-top: 2.7%;
        margin-left: 11%;
    }
    .che_right1_h1 {
        margin-bottom: 0%;
    }

}
@media screen and (min-width:450px) and (max-width: 530px) {
    .che_marginright {
        margin-left: 0%;
    }

}

@media screen and (min-width:390px) and (max-width: 449px) {
    /*block4*/
    .che_left4_titlep {
        margin-top: 7%;
    }
}
@media screen and (min-width:0px) and (max-width: 389px) {
    /*block4*/
    .che_left4_titlep {
        margin-top: 0%;
    }
    .left4_title {
        margin-left: -4%;
    }
}
@media screen and (min-width:0px) and (max-width: 449px) {
    .p_che {
        text-align: left;
    }
    .che_left_h5 {
        text-align: left;
    }

    .p_che2 {
        text-align: left;
    }
    .che_marginright {
        margin-left: 0%;
    }

}
@media screen and (min-width:0px) and (max-width: 480px) {
    /*block4*/
    .che_left4_h3 {
        width: 100%;
        margin-bottom: 0px;
    }
    .che_left4_titlep {
        width: 100%;
        margin-bottom: 0px;
        margin-left: 0%;
        text-align: left;
    }
    .che_left4_p {
        margin-top: 0%;
    }
    .che_left4_price {
        float: left;
        margin-top: 0%;
        margin-left: 0%;
    }
}
@media screen and (min-width:550px) and (max-width: 650px) {
    .che_left2_pic {
        margin-left: 11%;
    }
}
@media screen and (min-width:500px) and (max-width: 549px) {
    .che_left2_pic {
        margin-left: 6%;
    }
}
/*********************************************Anniversary*************************************************/
.anni_block1{
    margin-left: 8%;
    margin-bottom: 5%;
}
.anni_h1{text-align: center;}
.anni_h4{
    text-align: center;
    margin-top: 2%;
}
.anni_pic1{
    width: 100%;
    margin-left: 11%;
}
.anni_h3{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 2%;
}
.anni_pro{
    text-align: center;
    line-height: 200%;
}
/*block3*/
.anni_h3_block3{text-align: center;}
.anni_p_block3{text-align: center;  margin-bottom: 5%;  line-height: 200%;}
/*block4*/
.anni_link{
    color: #00903a;
    text-decoration: underline;
}
.anni_link:hover{
    color: #00903a;
    text-decoration: underline;
}
.anni_block4_pic{  margin-top: 5%;}
/*****************************************RWD Anniversary****************************/
@media screen and (min-width:1200px){
    .largesize_pic {
        left: 10%;
    }
    .anni_pic1 {
        margin-left: 0%;
    }
}
@media screen and (min-width:0px) and (max-width:1000px){
    .anni_block1 {
        margin-left: 0%;
    }
    .anni_pic1 {
        margin-left: 0%;
    }

}
@media screen and (min-width:700px) and (max-width:1000px){
    .anni_pic2{
        width: 100%;
        margin-left: 4%;
    }
}
@media screen and (min-width:480px) and (max-width:699px){
    .anni_block4_pic {  right: 10%;}
    .anni_pic2{ width: 131%;}
}
@media screen and (min-width:0px) and (max-width:479px){
    .anni_block4_pic {  right: 40%;}
    .anni_pic2{ width: 188%;}
}
/**************************************************Recommend**************************************************/
.rec_block1 {
    margin-top: 5%;
}
.rec_h4{  margin-bottom: 13%;}
.rec_h1{  margin-bottom: 10%;}
.p_rec1{line-height: 200%;}
.rec_right1_pic{
    max-width: 414px;
    margin-left: -4%;
}
/*block2*/
.rec_line{
    background: url("../img/reccomend_line.png") left top repeat-x;
    clear: both;
    padding-top: 20px;
    width: 100%;
}
.rec_pic2{
    float: left;
    margin-top: 1%;
}
.rec_block2_h4{
    text-align: end;
    margin-top: 9%;
}
/*block3*/
.rec_block3title{  margin-top: 5%;}
.rec_block3{  margin-top: 2%;}
.p_rec2{  margin-top: 4%;}

/**************************************************Recommend RWD******************************/
@media screen and (min-width:740px) and (max-width:996px){
    .rel_left1_margin{
        float: left;
        width: 45%;
        margin-left: 0px;
    }
    .rec_right1_pic {
        margin-left: 0%;
        width: 55%;
        display: inline-block;
    }
    .rec_block2_h4 {
        margin-top: -10%;
    }
    .rec_pic_full{width: 100%;}
}
@media screen and (min-width:552px) and (max-width:739px){
    .rel_left1_margin{
        float: left;
        width: 50%;
        margin-left: 0px;
        margin-top: 0%;
    }
    .rec_right1_pic {
        margin-left: 0%;
        margin-top: 9%;
        width: 50%;
        display: inline-block;
    }
    .rec_block2_h4 {
        margin-top: -12%;
    }
    .rec_block3title{  margin-top: 8%;}
    .rec_pic_full{width: 100%;}
}
@media screen and (min-width:0px) and (max-width:551px){
    .rec_pic_full{width: 100%;}
    .rec_block1 {
        margin-bottom: 16%;
    }
    .rec_block2_h4 {
        margin-top: -8%;
    }
    .rec_block3title{  margin-top: 8%;}

}